test
build/Debug/*
sin_a
pifagor
random_gen
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
.vscode/launch.json
.vscode/launch.json
learn
Lubit_ne_lubit
learn.c
BodyHealth
BodyHealth-1
Switch_CalcNa0
#Switch_MyAge
#Switch_MyAge
#Switch_MyAge
#Switch_MyAge
If-Else_TheLockCode
If-Else_TheLockCode 
If-Else_TheLockCode 
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
.vscode/launch.json
